
.jumbotron
  %h1 Build your site Today
  %p.lead
    PullEntity is a site builder made by devolpers & artists for developers  and artists.
  %a.sign_up.btn.btn-large.btn-success{:href => "http://pullentity.com/users/sign_up"} Sign up today


.row-fluid.marketing
  
  .col-6
    
    %h4.title Social Apis integration.
    %p Grab your social content from Facebook, Instagram, Dropbox and more!.
    
    %h4.title Simple, flexible & customizable.
    %p
      Select the template that fit your needs and
      modifiy it to change the aspect.
  
  .col-6
    
    %h4.title Cutting edge technologies.
    %p Use mainstream technologies like Sass, Haml, Coffescript to build your site.
    
    %h4.title Work Locally, Manage in the cloud.
    %p Get the command line application to develop the theme in your local environment.