%script{ type: "text/x-handlebars-template", id: "layout"}

  .container-narrow
    .masthead
      %ul.nav.nav-pills.pull-right
        {{#sections}}
        {{#show_in_menu}}
        %li
          %a{:href => "{{SectionUrl this}}"} {{title}}
        {{/show_in_menu}}
        {{/sections}}
        %li
          %a{:href => "http://pullentity.com/users/sign_in"} Sign in
      %h2.muted
        %a{:href => "/#"} PullEntity

    #content.row
      {{{content}}}

    .footer.col-12
      %p made with pullentity, illustration by derios