%title Pullentity Site
%meta{:content => "", :name => "description"}
%meta{:content => "t", :name => "keywords"}
%meta{:content => "INDEX,FOLLOW", :name => "ROBOTS"}

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}

= javascript_include_tag "application"
= stylesheet_link_tag "application"

%script{:src => "/cross-domain/respond.js"}
/ Respond.js proxy on external server
%link#respond-proxy{:href => "http://pullentity.s3.amazonaws.com/cross-domain/respond-proxy.html", :rel => "respond-proxy"}/
/ Respond.js redirect location on local server
%link#respond-redirect{:href => "/cross-domain/respond.proxy.gif", :rel => "respond-redirect"}/
%script{:src => "/cross-domain/respond.proxy.js"}

= yield_content(:application_js)