:javascript
  // put inline js here or use assets path

  $(function() {

    $('.myCarousel')
      .livequery(function(){
      $(this).find(".item").first().addClass('active');
      $(this).carousel();
    });

  });