@import 'pullentity';
@import 'bootstrap.min';
@import "compass";

// Responsive

$break-small: 600px;
$break-large: 1200px;

$serif: "freight-sans-pro",sans-serif;
$georgia: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;


a{
  outline: medium none !important;
}

body{
  font-family: $georgia;
  // background: image-url("p5.png") repeat scroll 0 0 #F4F4F4;
}

h1, h2, h3, h4{
  font-family: $serif;
}

h2{
  /*font-family: "Oxygen", Helvetica, Arial;*/
  font-family: $serif;
  font-size: 22.5px;
}

.nav{
  font-family: $serif;
}

.masthead{
  h2{
    font-weight: bold;
  }    
}

.container-narrow {
  margin: 0 auto;
  max-width: 920px;
}

#content{
  margin:0px !important;
  margin:16px 0 50px 260px;
  position: relative;
  text-align: center;

  h2 {
    font-family: $serif;
    //font-family: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
    font-size: 57px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 64px;
    margin-bottom: 20px;
  }

  p{
    font-family: $georgia;
    //font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;
    color: #777;
  }
}

.jumbotron {
    background: url("http://farm9.staticflickr.com/8108/8555917992_b9f158b822_b.jpg") no-repeat scroll center -100px transparent;
    padding-top: 338px;
    margin-top: 20px;
    position: relative;
    text-align: center;
  h1 {
    font-size: 75px;
    font-stretch: extra-condensed;
    font-weight: bold;
    line-height: 0.8;
    margin: 77px 0 5px;
    padding: 11px;
  }
  .lead {
    font-size: 39px !important;
    font-weight: 200;
    line-height: 30px;
  }

  .sign_up{
  }
}

h4.title{
  font-size: 24px;
  font-weight: 700;
}

.thumbnail, .img-thumbnail {
  background-color: #FFFFFF;
  border: 0px solid #DDDDDD;
  @include border-radius(0);
  line-height: 1.42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
  .caption{
    h2, h3{
      font-family: $georgia;
    }
  }
}

.carousel-control.left, .carousel-control.right  {
  background-image: none;
}



#loader{
  position: fixed;
  right: 28px;
  top: 33px;
  display:none;
}
#menu{
  float: left;
  list-style: none outside none;
  margin: 0 0 7px;
 li{
  /*float:left;*/
  margin:5px;
   a{
    color: #888888;
    font-size: 16px;
    font-family: $serif;
    font-weight: lighter;
    }
  }
}

#team{
  .item{
    @include border-radius(50%);
    img{
      border: 13px solid white;
      @include box-shadow( 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1));
      vertical-align: middle;
    }
  }
  .caption{
    h3{
      font-family: $georgia;
      font-size: 35px;
      font-weight: bold;
    }
  }
}

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 100px;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
}
