@import 'pullentity';
@import 'bootstrap.min';
@import "compass";

// Responsive

$break-small: 600px;
$break-large: 1200px;

body{
  // background: image-url("p5.png") repeat scroll 0 0 #F4F4F4;
}

h2{
  /*font-family: "Oxygen", Helvetica, Arial;*/
  font-size: 22.5px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 920px;
}

#content{
  margin:0px !important;
  margin:16px 0 50px 260px;
  position: relative;
  text-align: center;

  h2 {
    font-family: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
    font-size: 57px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 64px;
    margin-bottom: 20px;
  }

  p{
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;
    color: #777;
  }
}

.jumbotron {
    background: url("http://farm9.staticflickr.com/8108/8555917992_b9f158b822_b.jpg") no-repeat scroll center -100px transparent;
    padding-top: 338px;
    margin-top: 20px;
    position: relative;
    text-align: center;
  h1 {
    font-size: 74px;
    line-height: 0.8;
    padding: 11px;
    margin: 80px 0 30px;

  }
  .lead {
    font-size: 39px !important;
    font-weight: 200;
    line-height: 30px;
  }

  .sign_up{
  }
}

h4.title{
  font-size: 24px;
  font-weight: 700;
}

.thumbnail, .img-thumbnail {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  @include border-radius(0);
  line-height: 1.42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}



#loader{
  position: fixed;
  right: 28px;
  top: 33px;
  display:none;
}
#menu{
  float: left;
  list-style: none outside none;
  margin: 0 0 7px;
 li{
  /*float:left;*/
  margin:5px;
   a{
    color: #888888;
    font-size: 16px;
    font-family: "Oxygen", Helvetica, Arial;
    font-weight: lighter;
    }
  }
}

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 100px;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
}
